<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <header class="card-header bg-primary mb-3">
        <h1 class="h1 p-2 text-monospace">MySite</h1>
    </header>
    
    <section class="col-10 mx-auto">
        @RenderBody()
    </section>

    <footer class="card-footer text-center mt-3">
        <small>Todos los derechos reservados.</small>
    </footer>
</body>
</html>
